.Header{
    background: #61fbe5;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.Header img{
    width: 70px;
    height: 70px;
    padding: 5px;
    margin-left: 40px;
}
.Header h2{}
.Header input{
    background: none;
    border: none;
    outline: none;
    font-size: 19px;
}

.menus{
    background-color: crimson;
    color: white;
    margin-top: -15px;
}

